# OS junk files
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Jenkins
workspace/
*.log

# Docker
*.tar

# Node modules (future use)
node_modules/

# Kubernetes temp files
*.swp

