apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: 369878825082.dkr.ecr.ap-south-1.amazonaws.com/node-app:latest
        ports:
        - containerPort: 80

