---
- name: Install Helm
  hosts: jenkins
  become: true

  tasks:
    - name: Download Helm
      get_url:
        url: https://get.helm.sh/helm-v3.15.2-linux-amd64.tar.gz
        dest: /tmp/helm.tar.gz

    - name: Extract Helm
      unarchive:
        src: /tmp/helm.tar.gz
        dest: /tmp
        remote_src: yes

    - name: Move Helm binary
      command: mv /tmp/linux-amd64/helm /usr/local/bin/helm

    - name: Set Helm permissions
      file:
        path: /usr/local/bin/helm
        mode: '0755'
